// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #193492;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: #478F96;
$light-green: #93B9BC
