<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
</a>
<div class="container">
  <h1>HealthWay</h1>
  <p>Keep your healthcheck data digitally and safely</p>
  <a class="btn btn-flat" href="#">Contact us!</a>
</div>
</div>
<div class="background-grey d-flex">
  <div class="img-fluid">
    <i class="fas fa-laptop-medical"></i>
    <h4>
      Eliminate paper-based results
    </h4>
    <p>
      Collect healthcheck result by fax and email
    </p>
  </div>
  <div class="img-fluid">
    <i class="fas fa-tasks"></i>
    <h4>
      Track status in real time
    </h4>
    <p>
      Display employee healthcheck status within seconds
    </p>
  </div>
  <div class="img-fluid">
    <i class="fas fa-user-lock"></i>
    <h4>
      Ensure employee's privacy
    </h4>
    <p>
      Separate HR from personal data
    </p>
  </div>
</div>
<div class="footer">
    Copyright © 2022. HealthWay, Inc. All Rights Reserved. Site Credits.
</div>
