.btn-success {
  border-radius: 8px;
  box-shadow: 2px 2px rgba(46, 78, 59, 0.3);
  color: white;

  &:hover {
    color: black;
  }
}

.btn-flat {
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;

  &:hover {
    background: $light-green;
    color: white;
  }
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($light-green, $green);
  transition: background 0.3s ease;
  border: 1px solid $green;

  &:hover {
    background: linear-gradient($light-green, $green);
    color: white;
  }
}
