.emailbox{
  width: 425px;
}

.email {
  color: rgb(114, 114, 114);
  background-color: rgb(196, 196, 196);
  height: 50px;
  padding: 13px;
  border-radius: 17px;
}

.fax {
  color: rgb(114, 114, 114);
  background-color: rgb(196, 196, 196);
  height: 50px;
  padding: 13px;
  border-radius: 17px;
}

.wordsw {
  color: #193492;
}

.containery {
  // padding-top: 136px;
  padding-left: 73px;
}

.fgreen{
  background-color: $green;
  color: white;
}
