.hr-dashboard-body{
  margin: 0 32px;
}
.hr-dashboard-info{
  display: flex;
}
.clinic-lists{
  background-color: $light-green;
  width: 100%;
  height: 160px;
  overflow: scroll;
  margin-bottom: 16px;
}
.hr-dashboard-table{
  margin-top: 32px;
}
