.navbar-lewagon {
  justify-content: space-between;
  background: $light-green;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .navbar-brand {
  display: flex;
  flex-wrap: inherit;
  align-items: end;
  justify-content: space-between;
  padding-top: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 16px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: $light-gray;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}
