.navbar-lewagon {
  justify-content: space-between;
  background: $light-green;
  height: 50px;
}

h3, .h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .navbar-brand {
  display: flex;
  flex-wrap: inherit;
  align-items: end;
  justify-content: space-between;
  padding-top: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-top: 15px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #ffffffb0;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  margin-left: 8px
}
