.sidebar {
  min-height: calc(100vh - 66px);
  height: 100%;
  width: 208px;
  background-color: #478F96;
}

.sidebar-list {
  list-style: none;
  min-height: calc(100vh - 66px);
  padding-block: 16px;
  padding-left: 0;
  a {
    text-decoration: none;
    color: #F6F5F5;
    padding: 16px;
    display: block;
  }
}
