.table-primary-color {
  border-bottom: transparent;
  border-top: transparent;
  vertical-align: middle;

  thead {
    background-color: $green;
    color: white;
    text-align: center;
  }

  th, td {
    border-right: 1px solid $green;
  }

  tbody > tr > th, td {
    background-color: $light-light-gray;
  }

  td:last-child, th:last-child{
    border-right: 0;
  }

  i {
    color: $green;
    font-size: 32px;
  }
}

.table-thickness {
  tbody > tr {
    height: 44px;
  }
}

.column-width {
  width: 238px;
}

.another-column-width {
  width: 238px;
}
