// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "tom-select/dist/css/tom-select";

// Your CSS partials
@import "components/index";
@import "components/sidebar";
@import "pages/index";

h1 {
  color: $green;
  font-family: 'Roboto', sans-serif;
  padding: 32px 0;
}

h3 {
  color: $green;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  font-weight: bold;
}
h4 {
  color: $green;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  font-weight: bold;
}

h5 {
  color: $green;
}
.root {
  display: grid;
  grid-template-columns: 235px 1fr;
  max-height: calc(100vh - 50px);
}

.custom-container {
  width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
